<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a routerLink="/manager/" class="brand-link">
      <img src="/assets/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Manager</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/assets/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{userName}}</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" id="menu-list">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                  <li *ngFor="let item of sidebar; let i = index" class="nav-item">
                    <a *ngIf="item.active && item.type === 'single'" routerLink="{{item.path}}" class="nav-link active">
                      <i class="{{item.iconClasses}}"></i>
                      <p>{{item.name}}</p>
                    </a>
                    <a *ngIf="item.active === false && item.type === 'single'" routerLink="{{item.path}}" class="nav-link">
                      <i class="{{item.iconClasses}}"></i>
                      <p>{{item.name}}</p>
                    </a>
                    <a *ngIf="item.type === 'root'" class="nav-link">
                      <i class="{{item.iconClasses}}"></i>
                      <p>{{item.name}}</p>
                      <i class="right fas fa-angle-left"></i>
                    </a>
                      <ul class="nav nav-treeview" *ngIf="item.children !== []">
                        <li *ngFor="let children of item.children" class="nav-item">
                          <a routerLink="{{children.path}}" class="nav-link">
                            <i class="{{children.iconClasses}}"></i>
                            <p>{{children.name}}</p>
                          </a>
                        </li>
                      </ul>
                  </li>
                  <li class="nav-item">
                    <a (click)="signOut();" class="nav-link">
                      <i class="fa-solid fa-right-from-bracket nav-icon"></i>
                      <p>
                        Sign out
                      </p>
                    </a>
                  </li>

          <!-- <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/manager/dashboard" class="nav-link active">
                  <i class="fas fa-tachometer-alt nav-icon"></i>
                  <p>Dashboard</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/manager/google-analytics" class="nav-link">
                  <i class="fas fa-line-chart nav-icon"></i>
                  <p>Google Analytics</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/manager/google-adsense" class="nav-link">
                  <i class="far fa-bar-chart nav-icon"></i>
                  <p>Google Adsense</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="fa-solid fa-newspaper nav-icon"></i>
              <p>
                Blog
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right">6</span>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/manager/article" class="nav-link">
                  <i class="fa-solid fa-blog nav-icon"></i>
                  <p>Artigo</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/manager/article/form" class="nav-link">
                  <i class="fa-solid fa-plus nav-icon"></i>
                  <p>Novo</p>
                </a>
              </li>

            </ul>

        </li> -->
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
