<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2"> <div class="col-sm-6">
      <h1 class="m-0">Bad Request</h1>
    </div>
    <!-- /.col -->
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Bad Request</li>
      </ol>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container-fluid -->
</div> <!-- /.content-header -->

<!-- Main content -->
<section class="content"> <div class="container-fluid text-center">

    <div class="row align-self-center">
        <div class="col">

        </div>
        <div class="col-sm-6 align-self-center">

                    <div class="box">400</div>
                    <div class="message">
                        <h1>The request could not be understood by the server</h1>
                        <p>Please check the syntax and parameters of your request.</p>
                    </div>

        </div>
        <div class="col">

        </div>
    </div>

</div>

</section>
